html {
  background-color: #5C5D60;
  background-image: url("../images/bg.gif");
  background-repeat: repeat-x;
}
body {
  color: #FFF;
  width: 960px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Armata', sans-serif;  
  margin-top: 15px;
}
#header {
  width: 960px;
  height: 110px;
  /*background: rgba(50,50,50,0.5);*/
  border-radius: 3px;
  margin-bottom: 10px;
}
ul#logos {
  text-align: center;
  list-style-type: none;
  padding: 0px;
}
ul#logos li {
  display: inline-block;
  margin: 0;
}
ul.horiz-even {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.horiz-even li {
  display: inline-block;
  
}

.horiz-fill li {
  margin: 0 10%;
}
#header #buglabs-logo {
  float: left;
  position: relative;
  right: 300px;
  margin-top: 10px;
  margin-left: 30px;
  overflow: hidden;
}
#header #bugswarm-logo {
  float: left;
  position: relative ;
  left: 280px;
  margin-top: 50px;
  margin-left: 30px;
}
#content {
  width: 960px;
  /*background: rgba(50,50,50,0.5);*/
  border-radius: 0px;
  padding-left: 0px;
  margin-left: 0px;
}
h1 {text-align: left; font-family: 'Armata', sans-serif;}
h3 {
  text-align: left; 
  padding-left:7px;
  padding-top:5px;
  padding-bottom:5px;
}

a.resourceicon {
  display: block;
  text-indent: -9999em;
  text-decoration: none;
  width: 121px; 
  height: 101px;
}

a.resourceicon:hover {
  background-position: bottom;
}


.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    padding: .2em .5em .2em;
    /*text-shadow: 1px 1px 1px rgb(75,75,75);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);*/
  }

.red {
    background: red;
}
.green {
    background: green;
}
.left{
    text-align: left;
}
.center {
    text-align: center;
}
.right{
    text-align:right;
}


/* Table stuff, borrowed from Bootstrap */

.table {
  width: 100%;
  margin-bottom: 20px;
  border-color: #000000;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #000000;
  border-color: #000000;
}

.table th {
  font-weight: bold;
}

.table-bordered {
  border: 1px solid #000000;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #000000;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #494949;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #555555;
}

.sectionbox {
  background-color: #494949;
  border: 1px solid black;
}